/* ==========================================================================
   Base
   ========================================================================== */

body {background: url(../img/gray_sand.png) repeat fixed; }

select {background-color: #333; color:#eee;border:1px solid #666;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #333;
	color:#eee;
	border:1px solid #666;
}

/* =============================================================================
   Header
   ========================================================================== */

#wpadminbar {background:#924204;}
#wpadminbar .ab-top-secondary {background: #924204;}
#wpadminbar .quicklinks .ab-top-secondary > li {border-left:1px solid #aaa;}
#wpadminbar .quicklinks>ul>li {border-right:1px solid #aaa;}
#wpadminbar .quicklinks>ul>li>a, #wpadminbar .quicklinks>ul>li>.ab-empty-item {border-right:0;}
#wpadminbar * {color:#ccc;text-shadow: none;}

.banner { }

.navbar .brand {padding:0 20px 0 0;}
.navbar .brand:hover {opacity:0.5;}

.page-header h1 {
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
.page-header {border-bottom:1px solid #666;}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.wpcf7-not-valid-tip {color:#ff0000;}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }
#buddypress {margin-top:35px;}
.map .main {margin-top:0;}

/* ==========================================================================
   Map
   ========================================================================== */

#map-canvas {color:#333;}

.map-content .body-content {float:left;margin:0 14px 0 0;}
.map-content .track-image {float:right;}
.map-content .body-content h1 {font-size:20px;line-height: 22px; color:#222;}
.map-content .body-content p {color:#333;}
.map-content .body-content p.hours {color:#111;font-weight:bold;font-size:15px;}
.map-content .body-content p.no-exceptions {font-weight: bold;font-size:16px;color:#FF0000;}
.map-content .body-content p.abuse {color:#555;font-size:12px;margin:0;}



/* ==========================================================================
   Sidebar
   ========================================================================== */
.sidebar {
	background: #222;


}

@media (max-width: 767px) {
	.sidebar {
		background: none;
	}
}

.widget {margin-left:10px;}
.widget-inner ul {margin:0; list-style-type: none;}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {margin-top:50px;padding:40px 0 20px 0; border-top:1px solid #000;background:rgba(0,0,0,0.3);}
.content-info .copyright {float:left;color:#777;font-size:11px;}
.content-info .site, .content-info .site a {float:right;color:#777;font-size:11px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}

/* ==========================================================================
   BuddyPress
   ========================================================================== */

body.buddypress .page-header  {display:none;}
#buddypress div.dir-search, #search-members-form {margin:0;}
#buddypress form#search-members-form input {margin-bottom:0;}
#buddypress form#search-members-form label {display: inline;}

#buddypress form#whats-new-form #whats-new-options select, #buddypress form#whats-new-form #whats-new-submit {margin-top:0;}


#buddypress div.pagination {color:#eee;}
#buddypress div.pagination .pag-count {margin-left:0;}
#buddypress ul.item-list {border-top:1px solid #666;}
#buddypress ul.item-list li {border-bottom:1px solid #666;}
#buddypress ul.item-list li div.item-title span {font-size:98%;}

#buddypress div#message p {color:#BB9B36;}

#buddypress div.item-list-tabs ul li.selected a {background:#924204;border-radius:3px;color:#fff;}
#buddypress div.item-list-tabs ul li a span {border:1px solid #666;color:#333;}
#buddypress li.feed {display:none;}

#buddypress div.item-list-tabs#subnav {margin:0 0 10px 0;}

#buddypress .standard-form textarea, #buddypress .standard-form input[type=text], #buddypress .standard-form select, #buddypress .standard-form input[type=password], #buddypress .dir-search input[type=text] {
	border:1px inset #666;
	background: #333;
	color:#eee;
}

#buddypress input[type=submit] {
	padding:4px 12px!important;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	font-size:14px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #62c462),to( #51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
}
#buddypress div.dir-search input[type=text] {padding: 4px 6px;}
#buddypress input[type=submit]:hover{background:#51a351;color:#fff;}
#buddypress div.activity-comments form input {
	margin-top:0;
}
