/* ==========================================================================
   Base
   ========================================================================== */

body {background: url(../img/gray_sand.png) repeat fixed; }



/* =============================================================================
   Header
   ========================================================================== */

#wpadminbar {background:#6d0000;}
#wpadminbar .ab-top-secondary {background: #6d0000;}
#wpadminbar .quicklinks .ab-top-secondary > li {border-left:1px solid #666;}
#wpadminbar .quicklinks>ul>li {border-right:1px solid #666;}
#wpadminbar * {color:#aaa;}

.banner { }

.navbar {margin-bottom: 20px;}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}

/* ==========================================================================
   BuddyPress
   ========================================================================== */

#buddypress #whats-new-options {}